.path-about {
  #block-clinic-page-title {
    padding: 0 30px 10px;
  }

  #paragraphID-32 {
    max-width: 1440px !important;
    margin: 0 auto 20px;


    .media-as-bg {
      @include max-screen($max-mobile) {
        background-position: 0;
        background-size: 110%;
      }
    }
  }
}


.paragraph--type--text-and-html-block[id="paragraphID-74"],
.paragraph--type--text-and-html-block[id="paragraphID-75"] {
	.field-text-html{
		top: 215px;
	}
}
