.masonry_menu{
	margin: 80px -15px 0;
	max-width: $hdpi+px;
	position: relative;
	@include min-screen($max-mobile){
		margin: 80px auto 0;
	}
	&-top,
	&-bot {
		margin-right: -6px;
		margin-left: -6px;
		padding: 0 6px;
	}
	&-item {
		user-select: none;
		margin-bottom: 12px;
		padding-right: 6px;
		padding-left: 6px;
		&.is-tall{
			@include min-screen($max-tablet) {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
			}
		}
	}
	&-link {
		text-transform: uppercase;
		background-color: $white-smoke;
		position: relative;
		cursor: pointer;
		display: block;
		padding-top: 100%;
		.is-wide & {
			padding-top: 32%;
			@include min-screen($max-tablet) {
				padding-top: 19%;
			}
		}
		.is-tall & {
			height: 100%;
		}
		&-i{
			background-color: transparent;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			transition: all $trs-d;
			z-index: 1;
			&_wrap{
				width: 100%;
			}
		}
		@include min-screen($max-tablet){
			&:hover &-i{
				background-color: $white;
				left: -12px;
				top: -12px;
				right: -12px;
				bottom: -12px;
				box-shadow: 0 0 87px rgba(200, 200, 200, .75);
			}
		}

	}
	&-icon{
		color: $primary-color;
		transition: all $trs-d;
		display: block;
		margin-bottom: 0;
		font-size: 55px;

    @include min-screen($mobile) {
      font-size: 36px;
      margin-bottom: 10px;
    }

		@include screen($mdpi, $hdpi) {
			font-size: 42px ;
			margin-bottom: 25px;
		}
		@include min-screen($hdpi) {
			margin-bottom: 30px;
		}
		.is-wide &{
			font-size: 50px;
			margin-bottom: 0;
			display: inline-block;
			margin-right: 25px;

      @include min-screen($mdpi){
        font-size: 42px;
        margin-bottom: 0;
        display: inline-block;
        margin-right: 25px;
      }

      @include screen($mobile, $max-tablet) {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
      }
		}
	}
	&-title{
		@extend %title-red-line;
		font-weight: 700;
		color: $text-light-gray;
		font-size: 0;
		&:after{
			transition: all $trs-d;
			visibility: hidden;
			margin: 0 auto;
			width: 30%;
			@include min-screen($hdpi){
				width: 22%;
			}
		}
		.is-wide &{
			display: inline-block;
		}

    @include min-screen($mobile) {
      font-size: 10px;
    }

		@include min-screen($mdpi) {
			font-size: 12px;
		}
		@include min-screen($hdpi) {
			font-size: 18px !important;
		}
	}
	@include min-screen($mdpi) {
		&-link:hover &-title:after{
			margin-top: 10px;
			margin-bottom: 20px;
			visibility: visible;
		}
	}
	@include min-screen($hdpi){
		&-link:hover &-title:after{
			margin-top: 15px !important;
			margin-bottom: 30px !important;
			visibility: visible;
		}
	}
	&-hiden_text{
		visibility: hidden;
		opacity: 0;
		transition: all $trs-d;
		height: 0;
		font-size: 10px;
		line-height: 1.6;
		color: $text-light-gray;
		&.is-wide{
			line-height: 1.8;
		}
		@include min-screen($hdpi) {
			font-size: 12px;
			line-height: 2;
		}
	}
	@include min-screen($mdpi){
		&-link:hover &-hiden_text{
			visibility: visible;
			opacity: 1;
			height: auto;
		}
	}
	// &-link.is-wide:hover &-title {
	// 	&:after{
	// 		margin-top: 8px;
	// 		margin-bottom: 18px;
	// 		width: 54px;
	// 		visibility: visible;
	// 	}
	// }
}
