<section class="masonry_menu row">
	<div class="masonry_menu-left col-lg-10">
		<div class="masonry_menu-left_top row">
			<div class="col-lg-3">
				<a href="#" class="masonry_menu-item">
					<div class="masonry_menu-item-i row align-items-center">
						<div class="masonry_menu-item-i_wrap">
							<p class="masonry_menu-title">
								<span class="masonry_menu-icon icon icon-for_you"></span>
								Вам
							</p>
							<div class="masonry_menu-hiden_text">
								<p>dental care offices</p>
								<p>центр турботи про зуби</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a href="#" class="masonry_menu-item">
					<div class="masonry_menu-item-i row align-items-center">
						<div class="masonry_menu-item-i_wrap">
							<p class="masonry_menu-title">
								<span class="masonry_menu-icon icon icon-kids"></span>
								Вашим дітям
							</p>
							<div class="masonry_menu-hiden_text">
								<p>dental care offices</p>
								<p>центр турботи про зуби</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a href="#" class="masonry_menu-item">
					<div class="masonry_menu-item-i row align-items-center">
						<div class="masonry_menu-item-i_wrap">
							<p class="masonry_menu-title">
								<span class="masonry_menu-icon icon icon-for_mom"></span>
								Вашій мамі
							</p>
							<div class="masonry_menu-hiden_text">
								<p>dental care offices</p>
								<p>центр турботи про зуби</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3">
				<a href="#" class="masonry_menu-item">
					<div class="masonry_menu-item-i row align-items-center">
						<div class="masonry_menu-item-i_wrap">
							<p class="masonry_menu-title">
								<span class="masonry_menu-icon icon icon-for_everyone"></span>
								Кожному
							</p>
							<div class="masonry_menu-hiden_text">
								<p>dental care offices</p>
								<p>центр турботи про зуби</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="masonry_menu-left_bot row">
			<div class="col-lg-12">
				<a href="#" class="masonry_menu-item is-wide">
					<div class="masonry_menu-item-i row align-items-center">
						<div class="masonry_menu-item-i_wrap">
							<p class="masonry_menu-title">
								<span class="masonry_menu-icon icon icon-by_narco"></span>
								Усе під наркозом. Поки ви спите
							</p>
							<div class="masonry_menu-hiden_text">
								<p>dental care offices</p>
								<p>центр турботи про зуби</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="masonry_menu-right col-lg-2">
		<a href="#" class="masonry_menu-item is-tall align-self-center col">
			<div class="masonry_menu-item-i row align-items-center">
				<div class="masonry_menu-item-i_wrap">
					<p class="masonry_menu-title">
						<span class="masonry_menu-icon icon icon-why_we"></span>
						Чому ми
					</p>
					<div class="masonry_menu-hiden_text">
						<p>dental care offices</p>
						<p>центр турботи про зуби</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</section>
