<nav class="masonry_menu">

	<ul class="masonry_menu-top row">

		<li class="masonry_menu-item col-lg-2 col-4">
			<a href="/for-you" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-for_you"></span>
							Вам
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="masonry_menu-item col-lg-2 col-4">
			<a href="/for-kids" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-kids"></span>
							Вашим дітям
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="masonry_menu-item col-lg-2 col-4">
			<a href="/for-mother" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-for_mom"></span>
							Вашій мамі
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="masonry_menu-item col-lg-2 col-4">
			<a href="/for-everybody" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-for_everyone"></span>
							Кожному
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="masonry_menu-item col-lg-2 col-4">
			<a href="/your-face" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-your_face"></span>
							Ваше обличчя
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>
		<li class="masonry_menu-item col-lg-2 col-4 is-tall">
			<a href="/why-we" class="masonry_menu-link align-self-center">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-why_we"></span>
							Чому ми
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>

	</ul>

	<ul class="masonry_menu-bot row">

		<li class="masonry_menu-item col-lg-10 col-12 is-wide">
			<a href="/evything-is-a-dream" class="masonry_menu-link">
				<div class="masonry_menu-link-i row align-items-center">
					<div class="masonry_menu-link-i_wrap">
						<p class="masonry_menu-title">
							<span class="masonry_menu-icon icon icon-by_narco"></span>
							Усе під наркозом. Поки ви спите
						</p>
						<div class="masonry_menu-hiden_text">
							<p>dental care offices</p>
							<p>центр турботи про зуби</p>
						</div>
					</div>
				</div>
			</a>
		</li>

	</ul>
</nav>
