.path-why-we {
  #block-clinic-page-title {
    @include min-screen(1600) {
      max-width: none;
      margin-left: 200px;
      padding: 0 30px;
    }
  }

  #paragraphID-14 {
    .media-as-bg {
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
    }

  }
  #paragraphID-14, #paragraphID-16, #paragraphID-18 {
    .field-text-near-image {
      @include min-screen(1600) {
        padding-left: 230px;
      }
    }

    .field-title {
      @include min-screen(1600) {
        padding-left: 230px;
      }
    }
  }

  #paragraphID-15, #paragraphID-17, #paragraphID-19 {
    .field-text-near-image {
      @include min-screen(1600) {
        padding-right: 230px;
      }
    }

    .field-title {
      @include min-screen(1600) {
        padding-right: 230px;
      }
    }
  }
  .why-we {
    &_banners {
      max-width: 1440px;
      margin: 0 auto;
      min-height: 500px;
      @include min-screen($mdpi) {
        display: flex;
      }

      &-wrapper {
        @extend .col-lg-6, .col-md-6;
        padding: 50px;
        @extend %centered-content;

        @include max-screen($tablet) {
          max-width: 100% !important;
        }
      }

      &-content {
        background: $primary-color;
        color: $text-light;
        height: 350px;
        width: 350px;
        text-align: center;
        padding: 50px;
        margin: 20px;

        i {
          font-size: 125px;
          display: block;
          margin: 30px;
        }
        &-text {
          @extend %title-primary;
          color: $text-light;
          font-size: 20px;

          @include max-screen($max-mobile) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
