.about-us {
  min-height: 300px;
  height: auto;
  background: #E6E6E6 url('../img/city_background.jpg') no-repeat fixed 90% 100%;
  background-size: cover;
  padding: 50px 0;
  margin: 20px 0;

  &_title {
    @extend %title-hint;
    color: $text-light;
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  &_carousel {
    padding: 50px;
    .owl-stage {
      padding: 25px;
    }
    &-wrapper {
      width: 100%;
      height: auto;
      position: relative;
    }

    &-nav {
      display: flex;
      width: 100%;
      position: relative;

      &-arrow {
        //color: white;
        //background: $primary-color;
        //border-radius: 50%;
        //padding: 5px;
        //font-size: 40px;
        //line-height: 1;
        // width: 50px;
        text-align: center;
        cursor: pointer;
        top: 50%;
        margin-top: -25px;
        z-index: 2;

        .icon {
          font-size: 26px;

          &:before {
            content: $icon-left_arrow;
          }
        }

        &.left {
          position: absolute;
          left: 15px;
        }

        &.right {
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}
