.about-us {
  min-height: 300px;
  height: auto;
  background: #E6E6E6 url('../img/city_background.jpg') no-repeat fixed 90% 100%;
  background-size: cover;
  padding: 50px 0;
  margin: 20px 0;

  &_title {
    @extend %title-hint;
    color: $text-light;
    width: 100%;
    text-align: center;
    padding-top: 50px;

    @include max-screen($max-mobile) {
      font-size: 30px;
    }
  }

  &_carousel {
    padding: 25px 75px;

    @include max-screen(1024) {
      padding: 0;
    }
    .owl-stage {
      &-outer {
        margin-top: 20px;
      }
      @include max-screen($max-mobile) {
        padding: 0;
      }

      .owl-item {
        transition-delay: 0.3s;
        &.active {
          display: flex;
          flex-flow: wrap;
          align-items: center;
          height: 75px;

          li {
            margin: 0 auto;
          }
        }
      }
    }
    &-wrapper {
      width: 100%;
      height: auto;
      position: relative;
    }

    &-nav {
      display: flex;
      width: 100%;

      &-arrow {
        color: white;
        background: $primary-color;
        border-radius: 50%;
        padding: 5px;
        font-size: 40px;
        line-height: 1;
        width: 50px;
        text-align: center;
        cursor: pointer;
        top: 45%;
        margin-top: -25px;
        z-index: 2;

        @include max-screen($max-tablet) {
          width: 35px;
          font-size: 26px;
          top: 50%;
        }

        .icon {
          font-size: 26px;
          margin-top: -5px;
          @include max-screen($max-tablet) {
            font-size: 16px;
          }
        }

        &.left {
          position: absolute;
          left: 15px;
          @include max-screen($max-mobile) {
            left: 5px;
          }
        }

        &.right {
          position: absolute;
          right: 15px;

          @include max-screen($max-mobile) {
            right: 5px;
          }
        }
      }
    }
  }
}
