.clinic {
  text-align: center;
  margin: 50px 0 0;
  &_title {
    @extend %title-dark, %title-red-line;
    margin: 0 auto;
    text-align: center;
    @include max-screen($max-mobile) {
      font-size: $fs-md;
      font-weight: 600;
    }
  }

  &_location {
    @extend %text-regular;
    margin: 15px 10px 30px;
    text-align: center;
    font-weight: 400;

    @include max-screen($max-mobile) {
      font-size: $fs-sm;
    }
  }

  img {
    max-width: 100%;
    min-height: 250px;
  }
}

.clinics {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  &_carousel {
    padding: 0 !important;
    overflow: hidden;

    &-navigation {
      position: absolute;
      z-index: 5;
      bottom: 20px;
      width: 100%;
      text-align: center;
      color: $text-light;

      &-item {
        display: inline-block;
        font-size: 20px;
        margin-right: 10px;
        color: $text-hint;
        cursor: pointer;
        transition: all .2s ease-in;

        &:hover, &:focus {
          color: $text-light;
        }
        &.active {
          font-size: 36px;
          font-weight: 600;
          color: $text-light;
        }
      }
    }

    &-nav {
      @extend .clearfix;
      position: absolute;
      z-index: 5;
      width: 100%;

      &-arrow {
        color: white;
        background: $primary-color;
        border-radius: 50%;
        padding: 5px;
        font-size: 40px;
        line-height: 1;
        width: 50px;
        text-align: center;
        cursor: pointer;
        top: 60%;
        margin-top: -25px;
        z-index: 2;

        @include max-screen($max-tablet) {
          width: 35px;
          font-size: 26px;
          top: 70%;
        }

        @include max-screen($max-mobile) {
          width: 35px;
          font-size: 26px;
          top: 80%;
        }

        .icon {
          font-size: 26px;
          margin-top: -5px;

          @include max-screen($max-tablet) {
            font-size: 14px;
          }

          @include max-screen($max-mobile) {
            font-size: 14px;
          }

        }

        &.left {
          position: absolute;
          left: 15px;
        }

        &.right {
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}
