.clinic {
  text-align: center;
  margin: 50px 0 0;
  &_title {
    @extend %title-dark, %title-red-line;
    margin: 0 auto;
    text-align: center;
    @include max-screen($max-mobile) {
      font-size: $fs-md;
      font-weight: 600;
    }
  }

  &_location {
    @extend %text-regular;
    margin: 15px 10px 30px;
    text-align: center;
    font-weight: 400;

    @include max-screen($max-mobile) {
      font-size: $fs-sm;
    }
  }

  &-wrapper {
    padding: 0 20px;
  }
  .img-wrapper {
    position: relative;
  }

  img {
    max-width: 100%;
    min-height: 250px;
  }

  &_arrow {
    top: 55%;
    left: 50%;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
    animation-name: highlight;
    animation-duration: 3s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: infinite; // Run inifinite
    animation-timing-function: ease-in-out;

    @include max-screen($max-tablet) {
      width: 20px;
      height: 20px;
    }

    @keyframes highlight {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.25);
      }

      100% {
        transform: scale(1);
      }
    }

    &.down.clinic_kyiv {
      left: 49%;

      svg {
        transform: rotate(90deg);
      }
    }

    &.right.clinic_lviv {
      top: 80%;
      left: 38%;
    }

    &.left.clinic_lviv {
      top: 80%;
      left: 63%;

      svg {
        transform: rotate(180deg);
      }
    }

    &.left.dco_lviv {
      top: 65%;
      left: 48%;
      svg {
        transform: rotate(180deg);
      }
    }


  }
}

.clinics {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  &_carousel {
    padding: 0 !important;
    overflow: hidden;

    &-navigation {
      position: absolute;
      z-index: 5;
      bottom: 20px;
      width: 100%;
      text-align: center;
      color: $text-light;

      @include max-screen($tablet) {
        bottom: 10px;
      }

      &-item {
        display: inline-block;
        font-size: 20px;
        margin-right: 10px;
        color: $text-hint;
        cursor: pointer;
        transition: all .2s ease-in;

        @include max-screen($tablet) {
          font-size: 14px;
        }

        &:hover, &:focus {
          color: $text-light;
        }
        &.active {
          font-size: 36px;
          font-weight: 600;
          color: $text-light;

          @include max-screen($tablet) {
            font-size: 20px;
          }
        }
      }
    }

    &-nav {
      @extend .clearfix;
      position: absolute;
      z-index: 5;
      width: 100%;

      &-arrow {
        color: white;
        background: $primary-color;
        border-radius: 50%;
        padding: 5px;
        font-size: 40px;
        line-height: 1;
        width: 50px;
        text-align: center;
        cursor: pointer;
        top: 60%;
        margin-top: -25px;
        z-index: 2;

        @include max-screen($max-tablet) {
          width: 35px;
          font-size: 26px;
          top: 70%;
        }

        @include max-screen($max-mobile) {
          width: 35px;
          font-size: 26px;
          top: 80%;
        }

        .icon {
          font-size: 26px;
          margin-top: -5px;

          @include max-screen($max-tablet) {
            font-size: 14px;
          }

          @include max-screen($max-mobile) {
            font-size: 14px;
          }

        }

        &.left {
          position: absolute;
          left: 15px;
        }

        &.right {
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}
