.intro {
  @extend %content-center;
  // min-height: 400px;
  // height: auto;
  padding: 150px 30px 20%;
  @include min-screen($max-tablet) {
    padding: 200px 30px 12%;
  }
  @include min-screen($max-tablet) {
    padding: 10% 30px 12%;
  }


  &-wrapper {
    text-align: center;
    width: 100%;
  }

  &_logo {
    width: 90%;
    @include min-screen($max-mobile) {
      width: 60%;
    }
    @include min-screen($max-tablet) {
      width: 600px;
    }
    margin: 0 auto;
    svg {
      cursor: pointer;
      width: 100%;
      @include min-screen($max-tablet) {
        width: 600px;
      }
      transition: color $trs-d;
      .logo_clinic {
        stroke: $text-dark-hint;
        stroke-width: 1;
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
        animation-name: draw;
        animation-duration: 3s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: 1; // Run only once
        animation-timing-function: linear;
      }

      .logo_zablotsky {
        stroke: $primary-color;
        stroke-width: 0.1;
        stroke-dasharray: 10px;
        stroke-dashoffset: 10px;
        animation-name: draw;
        animation-duration: 3s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: 1; // Run only once
        animation-timing-function: linear;

        &-dots {
          stroke: $primary-color;
          stroke-width: 1;
          stroke-dasharray: 100px;
          stroke-dashoffset: 100px;
          animation-name: draw;
          animation-duration: 3s;
          animation-fill-mode: forwards; // Stay on the last frame
          animation-iteration-count: 1; // Run only once
          animation-timing-function: linear;
        }
      }
    }
  }

  &_title {
    margin-top: 30px;
    @extend %title-hint;
    font-weight: 400 !important;
    @include max-screen($tablet){
      font-size: 25px;
      font-weight: 200;
    }
  }

  &_navigation-list {
    &-item {
      &-link {
        &:before {
          //icon
        }
      }
    }
  }

}

@keyframes draw {
  from {
    fill: #FFFFFF;
  }
  to {
    stroke-dashoffset: 0;
  }
}
