.promotion {
  @extend %content-center;
  min-height: 150px;
  margin-bottom: 75px;
  height: auto;

  &_text {
    @extend %text-regular, %col-offset-3, %col-6;
    line-height: 1.7;
    font-size: $fs-title;
    text-align: center;
    padding: 0 20px;
  }
}
