.short-logo {
  @extend %content-center;
  text-align: center;
  min-height: 250px;
  height: auto;

  &-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    svg {
      width: 90px;
    }
  }
}
