.short-logo {
  @extend %content-center;
  text-align: center;
  min-height: 250px;
  height: auto;

  &-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    svg {
      width: 90px;
      cursor: pointer;
      transition: transform $trs-d;

      &:hover {
        transform: scale(1.1);
      }
      .small-logo_background {
        stroke: $text-dark-hint;
        stroke-width: 0.1;
        stroke-dasharray: 10px;
        stroke-dashoffset: 10px;
        animation-name: draw;
        animation-duration: 3s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: infinite; // Run only once
        animation-timing-function: linear;
      }

      .small-logo_sign {
        stroke: $primary-color;
        stroke-width: 0.1;
        stroke-dasharray: 10px;
        stroke-dashoffset: 10px;
        animation-name: draw;
        animation-duration: 2.5s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: 1; // Run only once
        animation-timing-function: linear;
      }
    }
  }
}
