.short-logo {
  @extend %content-center;
  text-align: center;
  min-height: 250px;
  height: auto;

  &-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    svg {
      width: 90px;

      transition: all .3s ease-in;
      .small-logo_background {
        stroke: $text-dark-hint;
        stroke-width: 1;
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
        animation-name: draw;
        animation-duration: 3s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: infinite; // Run only once
        animation-timing-function: linear;
      }

      .small-logo_sign {
        stroke: $primary-color;
        stroke-width: 1;
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
        animation-name: draw;
        animation-duration: 3s;
        animation-fill-mode: forwards; // Stay on the last frame
        animation-iteration-count: infinite; // Run only once
        animation-timing-function: linear;
      }
    }
  }
}
