.since-1998 {
  @extend %content-center;
  text-align: center;
  min-height: 400px;

  &_logo {
    margin: 0 auto;

    .icon {
      display: block;
    }

    img {
      margin-top: 25px;
      display: block;
    }
  }

}
