.small-logo {
  @extend %content-center;
  text-align: center;
  min-height: 300px;
  height: auto;

  &-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .icon.icon-z {
    font-size: 90px;
    transition: all $trs-d;
    cursor: pointer;
    color: $primary-color;

    &:after {
      content: "";
      position: absolute;
      top: -40%;
      left: -90%;
      width: 150%;
      height: 150%;
      opacity: 0;
      transform: rotate(30deg);

      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
      );
    }

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &:hover:after {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }

    &:active:after {
      opacity: 0;
    }
  }
}
