.small-logo {
  @extend %content-center;
  text-align: center;
  min-height: 300px;
  height: auto;

  &-wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .icon.icon-z{
    @extend %icon-logo;
  }
}
