.zablotsky-speech {
  align-items: center;
  min-height: 100vh;
  max-width: $hdpi 'px';
  @include min-screen($mdpi) {
    display: flex;
  }

  @include max-screen($tablet) {
    padding-top: 40px;
  }

  &-wrapper {
    width: 300px;
    margin: 0 auto;
  }

  &_info {
    @extend .col-lg-4, .col-12;
    text-align: center;
    .icon {
      color: $primary-color;
      font-size: 40px;
      margin: 40px;
      transition: transform $trs-d;
      cursor: pointer;
      &:hover, &:focus {
        transform: scale(1.1);
      }
    }
  }

  &_title {
    @extend %title-dark;
    line-height: 1.5;
  }

  &_description {
    @extend %text-regular;
    font-weight: 400;
  }

  &_portrait {
    @extend .col-lg-4, .col-12;
    text-align: center;
    margin: 20px 0;
    img {
      vertical-align: middle;
      max-width: 100%;

      @include max-screen($max-mobile) {
        max-width: 70%;
      }
    }
  }

  &_slides {
    @extend .col-lg-4, .col-12;
    text-align: center;
    @include min-screen($max-tablet) {
      padding-top: 250px;
    }

    &-title {
      @extend %title-dark;
    }

    &-nav {
      display: flex;
      margin: 20px;
      text-align: center;

      &-wrapper {
        margin: 0 auto;
      }
      &-arrow {
        text-decoration: none;
        color: $primary-color;
        cursor: pointer;
        font-size: $fs-lg;
        margin: 5px;
        align-self: flex-end;
      }


      &-current {
        font-size: 50px;
        font-weight: 700;
        align-self: flex-end;
      }

      &-all {
        font-size: 25px;
        font-weight: 400;
        align-self: flex-end;

        &:before {
          content: '/';
        }
      }

      &-page {

      }
    }
    ul li {
      @extend %text-regular;
      padding: 20px;
      font-weight: 400;
    }

    &-carousel-container {
      max-height: 200px;
      padding-bottom: 20px;
      overflow: auto;

      @include max-screen($tablet) {
        max-height: none;
      }
    }
  }
}
