.zablotsky-speech {
  overflow: hidden;
  &-wrapper {
    width: 300px;
    margin: 0 auto;
  }

  &_info {
    @extend %col-4;
    text-align: center;

    .icon {
      color: $primary-color;
      font-size: $fs-lg;
      margin: 20px;
    }
  }

  &_title {
    @extend %title-dark;
  }

  &_description {
    @extend %text-regular;
  }

  &_portrait {
    @extend %col-4;
    text-align: center;

    img {
      vertical-align: middle;
      max-width: 100%;
    }
  }

  &_sides {
    @extend %col-4;
    text-align: center;
    &-title {
      @extend %title-dark;
    }

    &-pager {
      &-link {
        text-decoration: none;
        color: $text-dark;
        transition: all .2s ease-in;
        &:hover {
          color: $primary-color;
        }
      }

      &-current {
        font-size: 26px;
        color: $text-dark;
      }
    }

    &-content {
      @extend %text-regular;
    }
  }
}
