.menu {
	max-width: $hdpi+px;
	margin: 0 auto;
	position: relative;
	&-section {
		position: absolute;
		z-index: 2;
		top: 58px;
	}
	&-open_button {
		margin: 3px 0 0 3px;
		background-color: transparent;
		text-transform: uppercase;
		text-align: center;
		color: $text-menu;
		font-size: $fs-sm;
		line-height: 1;
		font-family: inherit;
		cursor: pointer;
		transition: color $trs-d;
		outline: none !important;
		&:before {
			font-family: svgfont;
			font-size: $menu-icon-size;
			display: block;
			margin: 0 auto;
			margin-bottom: 17px;
			max-width: $menu-icon-size;
			max-height: $menu-icon-size;
			border-radius: 50%;
			overflow: hidden;
			background-color: $white;
			color: $primary-color;
			transition: transform $trs-d;
		}
		&:hover {
			color: $primary-color;
			&:before {
				transform: scale(1.1);
			}
		}
	}
	&-rollup {
		position: absolute;
		z-index: 3;
		top: 0;
		box-shadow: 0 0 87px rgba(200, 200, 200, .75);
		background-color: $white-smoke;
		min-width: 464px;
	}
	&-header {
		margin: 0;
		background-color: $zircon;
		overflow: hidden;
		&_link {
			text-align: center;
			width: 50%;
			padding-top: 50%;
			float: left;
			position: relative; // transition: background-color $trs-d, font-size $trs-d, font-weight $trs-d;
			color: $primary-color; // line-height: 1;
			font-weight: 300;
			&:hover {
				color: $primary-color;
			}
			&.active {
				background-color: $white-smoke;
				cursor: default;
			}
		}
		&_text {
			color: $primary-color;
			position: absolute; // transition: background-color $trs-d, font-size $trs-d, font-weight $trs-d;
			font-size: 18px;
			height: 48px;
			line-height: 48px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
		} // &_link:hover &_text{
		// 	color: $primary-color;
		// 	font-weight: 700;
		// 	font-size: 48px;
		// }
		&_link.active &_text {
			font-weight: 700;
			font-size: 48px;
		}
	}
	.tab-content {
		position: relative;
		padding-bottom: 70px;
	}
	&-close_button {
		position: absolute;
		bottom: 18px;
		border-radius: 50%;
		width: $menu-icon-size;
		height: $menu-icon-size;
		outline: none !important;
		cursor: pointer;
		border: 2px $text-menu solid;
		color: $primary-color;
		font-size: 34px; // line-height: $menu-icon-size;
		background-color: transparent;
		text-align: center;
		transition: transform $trs-d, border-color $trs-d;
		&:hover {
			border-color: $primary-color;
			transform: rotate(90deg);
		}
	}
	&_nav {
		left: 15px;
		&-rollup {
			left: 0;
		}
		.menu-close_button {
			right: 18px;
		}
		&-content_tab {
			padding: 22px 50px 22px 62px;
			overflow: hidden;
			.navbar-nav {
				max-width: 200px;
				float: left;
				.nav-item {
					position: relative;
					padding: 2px 0;
					&:before,
					&:after {
						content: '';
						position: absolute;
						left: 0;
						width: 34px;
						height: 0;
						border-top: 2px solid $menu-divider-color;
						transition: width $trs-fast, border-color $trs-fast;
					}
					&:before{
						top: 0;
					}
					&:after{
						bottom: 0;
					}
					&:first-child:before{
						display: none;
					}
					&:last-child:after{
						display: none;
					}
					&:hover{
						&:before,
						&:after{
							width: 70px;
							z-index: 3;
							border-color: $primary-color;
						}
					}

					.nav-link {
						display: block;
						cursor: pointer;
						font-size: 14px;
						line-height: 1.7;
						font-weight: 700;
						color: $text-menu;
						transition: color $trs-d;
						padding: 18px 10px;
						margin: -2px 0;
					}
					&:hover .nav-link {
						// font-weight: 900;
						color: $primary-color;
					}
				}
				.nav-item + .nav-item {
					margin-top: -2px;
				}
			}
		}
	}
	&_contacts {
		right: 15px;
		&-rollup {
			right: 0;
		}
		.menu-close_button {
			left: 18px;
		}
	}
}
