.menu {
	max-width: $hdpi+px;
	margin: 0 auto;
	position: relative;
	&-section {
		position: absolute;
		z-index: 2;
		top: 58px;
	}
	&-open_button {
		margin: 3px 0 0 3px;
		background-color: transparent;
		text-transform: uppercase;
		text-align: center;
		color: $text-menu;
		font-size: $fs-sm;
		line-height: 1;
		font-family: inherit;
		cursor: pointer;
		transition: color $trs-d;
		outline: none !important;
		&:before {
			font-family: svgfont;
			font-size: $menu-icon-size;
			display: block;
			margin: 0 auto;
			margin-bottom: 17px;
			max-width: $menu-icon-size;
			max-height: $menu-icon-size;
			border-radius: 50%;
			overflow: hidden;
			background-color: $white;
			color: $primary-color;
			transition: transform $trs-d;
		}
		&:hover {
			color: $primary-color;
			&:before {
				transform: scale(1.1);
			}
		}
	}
	&-rollup {
		position: absolute;
		z-index: 3;
		top: 0;
		box-shadow: 0 0 87px rgba(200, 200, 200, .75);
		background-color: $white-smoke;
		min-width: 464px;
	}
	&-header {
		margin: 0;
		background-color: $zircon;
		overflow: hidden;
		&_link {
			text-align: center;
			width: 50%;
			padding-top: 50%;
			float: left;
			position: relative;
			color: $primary-color;
			font-weight: 300;
			&:hover {
				color: $primary-color;
			}
			&.active {
				background-color: $white-smoke;
				cursor: default;
			}
		}
		&_text {
			color: $primary-color;
			position: absolute; 
			font-size: 18px;
			height: 48px;
			line-height: 48px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			transition: font-size $trs-d;
		}
		&_link.active &_text {
			font-weight: 700;
			font-size: 48px;
		}
		&_icon_text{
			position: absolute;
			text-align: center;
			font-size: 14px;
			height: 75px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			color: $text-menu;
			svg{
				display: block;
				height: 37px;
				margin: 0 auto 20px;
				fill: $primary-color;
				transition: transform $trs-d;
				transform-origin: 50% 100%;
			}
		}
		&_link.active &_icon_text svg {
			transform: scale(1.1);
		}
	}
	.tab-content {
		position: relative;
		padding-bottom: 70px;
	}
	&-close_button {
		position: absolute;
		bottom: 18px;
		border-radius: 50%;
		width: $menu-icon-size;
		height: $menu-icon-size;
		outline: none !important;
		cursor: pointer;
		border: 2px $text-menu solid;
		color: $primary-color;
		font-size: 34px; // line-height: $menu-icon-size;
		background-color: transparent;
		text-align: center;
		transition: transform $trs-d, border-color $trs-d;
		&:hover {
			border-color: $primary-color;
			transform: rotate(90deg);
		}
	}
	&_nav {
		left: 15px;
		&-rollup {
			left: 0;
		}
		.menu-close_button {
			right: 18px;
		}
		&-content{
				overflow: hidden;
				padding: 22px 50px 92px 62px;
			&_tab {
				float: left;
				max-width: 200px;
				box-sizing: content-box;
				.nav-item {
					position: relative;
					padding: 2px 0;
					&:before,
					&:after {
						content: '';
						position: absolute;
						left: 0;
						width: 34px;
						height: 0;
						border-top: 2px solid $menu-divider-color;
						transition: width $trs-fast, border-color $trs-fast;
					}
					&:before{
						top: 0;
					}
					&:after{
						bottom: 0;
					}
					&:first-child:before{
						display: none;
					}
					&:last-child:after{
						display: none;
					}
					&:hover{
						&:before,
						&:after{
							width: 70px;
							z-index: 3;
							border-color: $primary-color;
						}
					}

					.nav-link {
						display: block;
						cursor: pointer;
						font-size: 14px;
						line-height: 1.7;
						font-weight: 700;
						color: $text-menu;
						transition: color $trs-d;
						padding: 18px 10px;
						margin: -2px 0;
					}
					&:hover .nav-link {
						// font-weight: 900;
						color: $primary-color;
					}
				}
				.nav-item + .nav-item {
					margin-top: -2px;
				}
			}
		}
		&-social{
			float: right;
			padding-top: 85px;
			&_icon{
				display: block;
				margin-bottom: 35px;
				width: $menu-icon-size;
				height: $menu-icon-size;
				border: 2px $primary-color solid;
				color: $primary-color;
				font-size: 22px;
				border-radius: 50%;
				text-align: center;
				line-height: $menu-icon-size - 4;
				// transition: color $trs-d, background-color $trs-d;
				&:before{
					// transition: color $trs-d, background-color $trs-d;
				}
				&:hover{
					text-decoration: none;
					color: $white-smoke;
					background-color:  $primary-color;
				}
			}
		}
	}
	&_contacts {
		right: 15px;
		&-rollup {
			right: 0;
		}
		.menu-close_button {
			left: 18px;
		}
		&-content_tab {
			text-align: right;
			padding: 65px 135px 50px 45px;
			color: $text-menu;
			.paragraph{
				margin-bottom: 25px;
				font-size: 12px;
				>div:first-child {
					font-weight: 700;
					font-size: 18px;
					line-height: 1.5;
				}
			}
		}
	}
}
