<div class="menu-sub menu_contacts menu-section" id="site-contacts-menu">

    <button class="menu-open_button" data-toggle="collapse" data-target="#menu_contacts_rollup" aria-expanded="false" aria-controls="Show contacts">
        @@include('../../images/icons/contacts.svg')
        <span class="menu-open_button-text">Контакти</span>
    </button>

    <div class="menu-rollup menu_contacts-rollup collapse" id="menu_contacts_rollup">
        <div class="menu-header nav" role="tablist">
            <a class="menu-header_link nav-link active" data-toggle="tab" href="#menucontacts1" role="tab">
                <span class="menu-header_icon_text">
                    @@include('../../images/icons/kiev.svg')
                    Київ
                </span>
            </a>
            <a class="menu-header_link nav-link" data-toggle="tab" href="#menucontacts2" role="tab">
                <span class="menu-header_icon_text">
                    @@include('../../images/icons/lvov.svg')
                    Львів
                </span>
            </a>
        </div>
        <div class="menu_contacts-content tab-content">
            <div class="menu_contacts-content_tab tab-pane active" id="menucontacts1" role="tabpanel">
                {{ kontaktivsapku_kiiv }}
            </div>
            <div class="menu_contacts-content_tab tab-pane" id="menucontacts2" role="tabpanel">
                {{ kontaktivsapku_lviv }}
            </div>
        </div>

        <button class="menu-close_button" data-toggle="collapse" data-target="#menu_contacts_rollup" aria-expanded="false" aria-controls="Close contact menu">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
