<div class="menu-sub menu_nav menu-section" id="site-main-menu">

	<button class="menu-open_button" data-toggle="collapse" data-target="#menu_nav_rollup" aria-expanded="false" aria-controls="Show main menu">
		<span class="icon icon-stack_menu"></span>
		<span class="menu-open_button-text">МЕНЮ</span>
	</button>

	<div class="menu-rollup menu_nav-rollup collapse" id="menu_nav_rollup">
		<div class="menu-header nav" role="tablist">
			<a class="menu-header_link active" data-toggle="tab" href="#menu1" role="tab">
				<span class="menu-header_text">1</span>
			</a>
			<a class="menu-header_link" data-toggle="tab" href="#menu2" role="tab">
				<span class="menu-header_text">2</span>
			</a>
		</div>
		<div class="menu_nav-content tab-content">
			<div class="menu_nav-social">
				<a class="menu_nav-social_icon icon icon-nav-y" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCaj6ThQRCWRZiRJmxBBptUw?view_as=subscriber" title="Youtube"></a>
				<a class="menu_nav-social_icon icon icon-nav-i" target="_blank" rel="noopener" href="https://www.instagram.com/zablotskyy_academy/" title="Instagram"></a>
				<a class="menu_nav-social_icon icon icon-nav-f" target="_blank" rel="noopener" href="https://www.facebook.com/zablotskyy.international.group/" title="Facebook"></a>
			</div>
			<div class="menu_nav-content_tab tab-pane active" id="menu1" role="tabpanel">
				{{ drupal_menu('main') }}
			</div>
			<div class="menu_nav-content_tab tab-pane" id="menu2" role="tabpanel">
				{{ drupal_menu('submenu') }}
			</div>
		</div>


		<button class="menu-close_button" data-toggle="collapse" data-target="#menu_nav_rollup" aria-expanded="false" aria-controls="Clouse main menu">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
