.video_modal {
  .modal-dialog {
    max-width: 750px;
    display: block;
    margin: 20vh auto;

    @include min-screen(1700) {
      max-width: 100%;
      width:100%;
      margin: 40vh auto;
    }

    @include max-screen($max-mobile) {
      max-width: 100%;
      width:100%;
      margin: 20vh auto;
    }
  }

  .modal-header {
    display: none;
  }
  .modal-title {
    @extend %title-hint;
    color: $text-dark-hint;
    font-size: 30px;
    @include max-screen($max-mobile) {
      font-size: 26px;
    }
  }

  .modal-body {
    max-height: 300px;
    max-width: 750px;
    padding: 0;

    @include max-screen($max-mobile) {
      min-height: 1px;
      min-width: 1px;
      height: 200px;
      width: 100%;
    }
  }

  .modal-video {
    width: 100%;
    min-width: 700px;
    max-width: 750px;

    min-height: 300px;

    @include max-screen($max-mobile) {
      min-height: 1px;
      min-width: 1px;
      height: 200px;
      width: 100%;
    }
  }
}

.modal-backdrop {
  background-color: #fff;
}
