.clinic_modal {
  .modal-dialog {
    max-width: 750px;
  }
  .modal-title {
    @extend %title-hint;
    color: $text-dark-hint;
    font-size: 30px;
    @include max-screen($max-mobile) {
      font-size: 26px;
    }
  }

  .modal-body {
    min-height: 200px;
  }

  .modal-video {
    width: 100%;
    min-width: 700px;
    min-height: 300px;
  }
}
