.paragraph--type--simple-text-paragraph[id="paragraphID-50"] {
	margin-bottom: 100px;
	.field-text-long {
		@extend .col-lg-9;
	}
}
.paragraph--type--text-and-html-block[id="paragraphID-51"] {
	.field-redmark{
		@extend %red-mark-z;
		margin-top: 65px;
		@include max-screen($max-tablet){
			display: none;
		}
	}
}
.paragraph--type--simple-text-paragraph[id="paragraphID-52"],
.paragraph--type--simple-text-paragraph[id="paragraphID-54"],
.paragraph--type--simple-text-paragraph[id="paragraphID-56"],
.paragraph--type--simple-text-paragraph[id="paragraphID-58"] {
	padding-top: 80px;
	padding-bottom: 60px;
	ul {
		@extend %ul-mark;
	}

}
.paragraph--type--simple-text-paragraph[id="paragraphID-56"]{
	ul li:last-child:before {
		content: 'i';
		background-color: transparent;
		border: 2px solid $primary-color;
		color: $primary-color;
		line-height: 26px;
	}
}
.paragraph--type--simple-text-paragraph[id="paragraphID-58"] {
	.field-text-long{
		@extend .col-lg-7;
	}
}
