.path-teeth-care-center {
  #block-clinic-page-title {
    display: none;
  }

  .dco-advantages {
    @extend %centered-content;
    padding: 50px;
    min-height: 100vh;
    background: #f8f8f8;

    &-wrapper {
      text-align: center;
    }

    &_title {
      @extend %title-hint;
    }

    &_logo {
      display: block;
      margin: 50px;
      i {
        @extend %icon-logo;
      }
    }

    &_subtitle {

    }

    &_description {
      &-item {
        @extend %title-hint;
        color: $text-dark-hint;
        text-transform: uppercase;
        font-size: $fs-title;
        line-height: 1.5;
        letter-spacing: 2px;
        word-spacing: 2px;

        .text-active {
          color: $primary-color;
        }
      }
    }
  }
  .clinics {

  }

  .dco_video-banner {
    min-height: 500px;
    background: #d4d2d2;
    @extend %content-center;
  }
}
