.path-teeth-care-center {
  .dco-advantages {
    @extend %centered-content;
    padding: 50px;
    min-height: 100vh;

    &-wrapper {
      text-align: center;
    }

    &_title {
      @extend %title-hint;
    }

    &_logo {
      display: block;
      margin: 50px;
      i {
        @extend %icon-logo;
      }
    }

    &_subtitle {

    }

    &_description {
      &-item {
        @extend %title-hint;
        color: $text-dark-hint;
        text-transform: uppercase;
        font-size: $fs-title;
        line-height: 1.5;
        letter-spacing: 2px;
        word-spacing: 2px;

        .text-active {
          color: $primary-color;
        }
      }
    }
  }
  .clinics {

  }

  .dco_video-banner {
    min-height: 500px;
    background: #e6e6e6;
    @extend %content-center;
  }

  .team {
    &_title {
      @extend %title-primary;
    }

    &_logo {
      margin: 0 auto;
    }

    &_subtitle {
      .text-active {
        color: $primary-color;
        font-weight: 600;
      }
    }

    &_carousel {

    }
  }
}
