.path-teeth-care-center {
  #block-clinic-page-title {
    display: none;
  }

  .dco-advantages {
    @extend %centered-content;
    padding: 50px;
    min-height: 100vh;
    background: #f8f8f8;

    @include max-screen($max-mobile) {
      padding: 20px;
    }

    &-wrapper {
      text-align: center;
    }

    &_title {
      @extend %title-hint;
    }

    &_logo {
      display: block;
      margin: 50px;
      .icon {
        font-size: 90px;
        transition: all $trs-d;
        cursor: pointer;
        color: $primary-color;

        &:after {
          content: "";
          position: absolute;
          top: -60%;
          left: -160%;
          width: 150%;
          height: 150%;
          opacity: 0;
          transform: rotate(30deg);

          background: rgba(255, 255, 255, 0.13);
          background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 77%,
              rgba(255, 255, 255, 0.5) 92%,
              rgba(255, 255, 255, 0.0) 100%
          );
        }

        &:hover, &:focus {
          transform: scale(1.1);
        }


        &:hover:after {
          opacity: 1;
          top: -30%;
          left: -30%;
          transition-property: left, top, opacity;
          transition-duration: 0.7s, 0.7s, 0.15s;
          transition-timing-function: ease;
        }

        &:active:after {
          opacity: 0;
        }
      }
    }

    &_subtitle {

    }

    &_description {
      &-item {
        @extend %title-hint;
        color: $text-dark-hint;
        text-transform: uppercase;
        font-size: $fs-title;
        line-height: 1.5;
        letter-spacing: 2px;
        word-spacing: 2px;

        @include max-screen($max-mobile) {
          font-size: 27px;
        }
        .text-active {
          color: $primary-color;
        }
      }
    }
  }
  .clinics {

  }

  .dco_video-banner {
    display: none;
    min-height: 500px;
    background: #d4d2d2;
    @extend %content-center;
  }
}
