.path-teeth-care-center {
  #block-webform {
    background: $primary-dark-color;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    h2 {
      display: none;
    }

    #webform_submission_schedule_consultation_node_13_add_form-ajax {
      max-width: $hdpi+px;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .webform-submission-form {
        display: flex;
        flex-wrap: wrap;
      }
    }
    @include max-screen($max-mobile) {
      .js-form-item + .js-form-item{
        margin-top: 20px;
      }
    }

    .js-form-item {
      @extend .form-group;
      margin-bottom: 30px;

      .intl-tel-input {
        margin-top: 10px;
      }

      label {
        display: block;
        font-weight: 700;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 25px;
      }
    }
    @include min-screen($tablet){
      .form-item-data-i-cas-date,
      .form-item-data-i-cas-time{
        width: 48%;
      }
      .form-item-data-i-cas-date{
        float: left;
        margin-right: 4%;
      }
      .form-item-data-i-cas-time{
        float: right;
        margin-top: 0 !important;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    input[type="email"],
    textarea ,
    select {
      @extend .form-control;
      border-radius: 45px;
      padding: 15px 25px;
      min-height: 75px;
      margin-top: 10px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #ffffff url(../img/red-arrow.png) 0 0 no-repeat;
      background-size: 10% 25%;
      background-position: 95% 50%;
    }

    .intl-tel-input{
      display: block;

      .selected-flag {
        padding: 0 0 0 8px;
      }
    }
    .flag-container + input[type="tel"]{
      padding-left: 50px;
    }
    .country-name{
      color: #999;
    }
    .form-actions{
      text-align: center;
      margin: 30px 0;
      .button[type="submit"]{
        @include button-variant(#4f5051, #4f5051);
        @include button-size(25px, 60px, 22px, 1, 45px);
        display: inline-block;
        width: auto;
        height: auto;
      }
    }

    .js-form-item{
      &-komu, &-misto, &-data, &-cas {
        @extend .col-lg-3;
      }

      &-im-a-ta-prizvise, &-telefon, &-elektronna-posta {
        @extend .col-lg-4;
      }
    }

    .js-webform-radios-fieldset {
      @extend .col-lg-12;
      .js-form-item-tip {
        input, label {
          display: inline-block;
        }

        label {
          margin-left: 10px;
          text-transform: none;
        }
      }
    }

    .js-form-item-pitanna-so-turbue, .webform-actions {
      @extend .col-lg-12;
    }
  }
}
