.path-teeth-care-center {
  .greeting {
    display: flex;

    &-wrapper {
      margin: 0 auto;
      min-height: 50vh;
      padding: 20px;
      max-width: 1050px;
      width: 100%;
    }

    &_logo-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      @include max-screen($max-mobile) {
        flex-direction: column-reverse;
      }
    }

    &_logo {
      height: auto;
      margin: 0 0 30px;
      width: 70%;

      @include max-screen($max-tablet) {
        max-width: 55%;
      }

      @include max-screen($max-mobile) {
        max-width: 100%;
        width: 100%;
      }

      .dco-greeting-text {
        font-size: 18px;
        letter-spacing: .5px;
        line-height: 1.5;
        font-weight: 400;
        color: $text-light-gray;
        padding-top: 35px;
      }

      img {
        width: 100%;
        max-width: 580px;

      }
    }

    &_img {
      max-width: 240px;

      @include max-screen($max-mobile) {
        display: none;
      }
    }
  }
}
