.path-teeth-care-center {
  .greeting {
    display: flex;

    &-wrapper {
      margin: 0 auto;
      min-height: 50vh;
      padding: 20px;
      max-width: 1050px;
    }

    &_logo-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      @include max-screen($max-mobile) {
        flex-direction: column-reverse;
      }
    }

    &_logo {
      max-width: 50%;
      height: auto;
      margin: 0 0 50px;
      @include max-screen($max-mobile) {
        max-width: 75%;
      }
    }

    &_img {
      max-width: 240px;

      @include max-screen($max-mobile) {
        display: none;
      }
    }
  }
}
