.path-teeth-care-center {
  .quote {
    @extend %centered-content;
    min-height: 80vh;

    &-wrapper {
      text-align: center;
    }

    &-img {
      margin: 20px auto;
      display: block;

      @include max-screen($max-mobile) {
        max-width: 80%;
        margin: 20px auto;
        display: block;
      }
    }
    &-text {
      @extend %title-hint;
      color: $text-dark-hint;
      font-size: 20px;
      max-width: 100%;
      line-height: 1.5;

      @include max-screen($max-mobile) {
        font-size: 10px;
      }

      &-left {
        text-align: center;
      }

      &-right {
        text-align: right;
      }
    }

    blockquote {
      padding-bottom: calc(90px - 2.7em);
      padding-top: calc(90px - 2.7em);
      padding-right: 30%;
      position: relative;
      color: $text-light-gray;
      right: -10%;

      @include max-screen(1600) {
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        right: 0;
      }

      @include max-screen($max-mobile) {
        padding: 40px;
        text-align: center;
      }

      &:before,
      &:after {
        @extend .icon;
        position: absolute;
        font-size: 82px;
        color: #e6e7e8;
        line-height: 82px;
        @include max-screen(1600) {
          font-size: calc( 4.2vw + .5rem);
        }
      }
      &:before {
        content: $icon-quotes-open;
        top: -15px;
        left: -115px;
        @include max-screen(1600) {
          left: -15px;
          top: -25px;
        }

        @include max-screen($max-mobile) {
          top: -15px;
          left: 27px;
        }
      }
      &:after {
        content: $icon-quotes-close;
        bottom: -35px;
        right: 8%;

        @include max-screen(1600) {
          bottom: -35px;
          right: -30px;
        }

        @include screen(450, $max-mobile) {
          bottom: -15px;
          right: -5px;
        }

        @include max-screen(449) {
          bottom: -15px;
          right: 5px;
        }
      }
    }
  }
}
