.path-teeth-care-center {
  .services {
    @extend %center-block-with-bg;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $white-smoke;
    @include min-screen($max-tablet) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    &-i {
      position: relative;
    }

    &-title {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      margin-bottom: 50px;
      line-height: 1.1;

      @include max-screen($max-mobile) {
        font-size: 22px;
       }
    }
    &-subtitle {
      text-align: center;
      font-size: $fs-h;
      font-weight: 700;
      text-transform: uppercase;
      color: $text-dark-hint;
    }

    &_steps {
      position: relative;
      margin: 120px 0 150px;
      &-side {
        &-mobile {
          display: block;
          margin: 0;
          text-align: center;

          &-icon {
            font-size: 77px;
            color: $primary-color;
            margin: 10px;
          }

          &-text {
            font-size: $fs-md - 2px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
          }
        }
      }

      &-list{
        margin-bottom: 150px;

        @include max-screen($max-mobile) {
          margin-bottom: 20px;
        }

        &-item {
          position: relative;
          padding-top: 34.5%;
          color: $white;

          @include screen(1025, $hdpi) {
            padding-top: 32%;
          }

          @include screen($mdpi, 1024) {
            padding-top: 52%;
          }

          @include screen($tablet, $max-tablet) {
            padding-top: 40%;
          }

          @include screen(450, $max-mobile) {
            padding-top: 45%;
          }

          @include screen(321, 449) {
            padding-top: 90%;
          }

          @include max-screen($mobile) {
            padding-top: 110%;
          }

          &-step {
            background-color: $primary-color;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            transition: all $trs-d;
            padding: 30px;
            cursor: pointer;

            &:after {
              content: '';
              position: absolute;
              top: 55px;
              right: -10px;
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;

              border-left: 10px solid white;
              z-index: 5;
            }

            @include max-screen($hdpi) {
              padding: 15px;
            }

            &.step-1 {
              background: #951a1d;
              &:after {
                border-left: 10px solid #951a1d;
              }
            }

            &.step-2 {
              background: #a41c1f;
              &:after {
                border-left: 10px solid #a41c1f;
              }
            }

            &.step-3 {
              background: #b21d21;
              &:after {
                border-left: 10px solid #b21d21;
              }
            }

            &.step-4 {
              background: #c21e23;
              &:after {
                border-left: 10px solid #c21e23;
              }
            }

            &.step-5 {
              background: #d31e24;
              &:after {
                border-left: 10px solid #d31e24;
              }
            }

            &.step-gift {
              background: #e41e26;
              &:after {
                border-left: 0 none;
              }
            }


            &-number {
              color: $text-light;
              text-transform: uppercase;
              padding-top: 10px;
              font-weight: 200;

              span {
                font-size: 30px;
                font-weight: 700;
              }

              i  {
                margin: 0 auto;
                display: block;
                text-align: center;
                &:before {
                  font-size: 30px;
                  font-weight: 700;
                }
              }
            }

            .services_steps-list-hidden-content {
              display: none;
              transition: all $trs-d;
              color: $white;
              margin: 20px 0;
              line-height: 1.5;
              font-size: 14px;
            }

            &.step-gift {
              .services_steps-list-hidden-content {
                @includ max-screen(320) {
                  font-size: 12px;
                }

                @include screen(992, 1025) {
                  font-size: 12px;
                }
              }
            }
          }


          &:hover .is-can-expand {
            left: 0;
            top: -130px;
            bottom: -170px;
            right: 0;

            @include max-screen($max-tablet) {
              bottom:0;
            }

            .services_steps-list-hidden-content {
              display: block;
            }
          }
        }

        &-content {
          &.gift {
            margin-top: 35%;

            @include max-screen($max-mobile) {
              margin-top: 10%;
            }

            @include max-screen($max-tablet) {
              margin-top: 15%;
            }
            .gift-icon {

              margin: 0 auto;
              display: block;
              text-align: center;

              i {
                &:before {
                  font-size: 55px;
                }
              }
            }
            .message {
              display: block;
              margin: 50px 0 25px;
              font-weight: 600;
              font-size: 24px;
              text-align: center;
            }
          }
        }
        &-title {
          display: block;
          width: 100%;
          margin: 20px 0 25px;
          font-weight: 600;
          font-size: 24px;
        }

        &-price {
          position: absolute;
          bottom: 50px;
          display: block;

          @include max-screen($max-mobile) {
            position: relative;
            bottom: 0;
          }

          &-wrapper {
            margin-bottom: 10px;
            i.icon {
              &:before {
                font-size: 40px;
              }
            }
          }
        }

        &-time {
          &-wrapper {
            i {
              &:before {
                font-size: 40px;
              }
            }

            span.time {
              display: inline-block;
              margin-left: 20px;
              font-size: 20px;
              font-style: italic;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
