.path-teeth-care-center {
  .support {
    @extend %center-block;
    padding-top: 50px;
    padding-bottom: 50px;
    @include min-screen($max-tablet) {
      padding-top: 130px;
      padding-bottom: 100px;
    }

    &_title {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      margin-bottom: 50px;
      line-height: 1.1;
    }

    &_subtitle {
      text-align: center;
      font-size: $fs-h;
      font-weight: 700;
      text-transform: uppercase;
      color: $text-dark-hint;
    }

    &-price {
      text-align: center;
      &-main {

      }
      &-title {

      }

      .price-currency {

      }

      .foreing-price {

      }

      .local-currency {

      }

    }
    &_steps {
      margin: 50px 0;
      &-list{
        margin-bottom: 150px;
        display: flex;

        &-item {
          position: relative;
          padding-top: 27.5%;
          color: $white;

          &-step {
            background-color: $primary-color;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            transition: all $trs-d;
            padding: 30px;
            cursor: pointer;
            display: flex;

            &.step-6 {
              background: #951a1d;
            }

            &.step-7 {
              background: #e41e26;
            }

            &-number {
              color: $text-light;
              text-transform: uppercase;
              padding-top: 10px;
              font-weight: 200;
              padding-left: 15px;
              display: block;

              span {
                font-size: 30px;
                font-weight: 700;
              }

              i  {
                margin: 0 auto;
                display: block;
                &:before {
                  font-size: 30px;
                  font-weight: 700;
                }
              }
            }

            &.has-arrow {
              &:after {
                @include smooth-triangle();
              }
            }
          }
        }

        &-content {
          display: flex;
        }

        &-title {
          @extend .col-lg-6;
          display: block;
          font-weight: 600;
          font-size: 40px;
        }

        &-price {
          @extend .col-lg-6;
          &-wrapper {
            margin-bottom: 10px;
            i.icon {
              &:before {
                font-size: 40px;
              }
            }
          }

          .cost {
            &-wrapper {
              display: inline-block;
              margin-left: 20px;
              vertical-align: bottom;
              font-style: italic;
            }

            &-foreing {
              display: block;
              font-size: 20px;
            }

            &-uah {
              display: block;
              font-size: 18px;
            }
          }

          &-message {
            display: block;
            margin: 20px 0 25px;
            font-weight: 600;
            font-size: 24px;
          }
        }

        &-time {
          &-wrapper {
            i {
              &:before {
                font-size: 40px;
              }
            }

            span.time {
              display: inline-block;
              margin-left: 20px;
              font-size: 20px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
