.path-teeth-care-center {

  .team {
    @extend %centered-content;
    padding: 50px;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

    @include max-screen($max-mobile) {
      padding: 20px;
    }

    &-wrapper {
      max-width: 100%;
    }
    &_title {
      @extend %title-primary;
      text-align: center;

      @include max-screen($max-mobile) {
        font-size: 22px;
      }

      &-regular {
        display: block;
        margin: 10px auto 50px;
        font-size: 30px;
        color: $text-dark;
        text-align: center;
      }
    }

    &_logo {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    &_subtitle {
      @extend %title-hint;
      color: $text-dark-hint;
      display: block;
      font-size: 22px;
      line-height: 1.5;
      font-style: italic;
      text-align: center;
      text-transform: none;
      .text-active {
        color: $primary-color;
        font-weight: 600;
      }
    }

    &_carousel {
      position: relative;
      text-align: center;

      .team_carousel-nav {
          display: flex;
          width: 100%;

          &-arrow {
            color: white;
            background: $primary-color;
            border-radius: 50%;
            padding: 5px;
            font-size: 40px;
            line-height: 1;
            width: 50px;
            text-align: center;
            cursor: pointer;
            top: 27.5%;
            margin-top: -25px;
            z-index: 2;

            @include max-screen($max-tablet) {
              width: 35px;
              font-size: 26px;
              top: 25%;
            }

            .icon {
              font-size: 26px;
              margin-top: -5px;
              @include max-screen($max-tablet) {
                font-size: 16px;
              }
            }

            &.left {
              position: absolute;
              left: -50px;

              @include max-screen($hdpi) {
                left: -35px;
              }

              @include max-screen($max-tablet) {
                left: 5px;
              }
            }

            &.right {
              position: absolute;
              right: -50px;

              @include max-screen($hdpi) {
                right: -35px;
              }
              @include max-screen($max-tablet) {
                right: 5px;
              }
            }
          }
        }

      .views-field-field-foto {
        img {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          overflow: hidden;
          margin: 0 auto 20px;
        }
      }

      .views-field-title {
        a {
          @extend %title-hint;
          color: $text-dark;
          font-size: 30px;
          line-height: 1.5;
          text-decoration: none;
          width: 50%;
          display: block;
          text-align: center;
          margin: 0 auto;

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }

      .views-field-field-place {
        .field-content {
          @extend %title-red-line, %hint-text;
          margin-bottom:10px;
          font-size: 20px;
        }
      }

      .views-field-body {
        @extend %hint-text;
      }
    }
  }
}
