.path-teeth-care-center {
  .team {
    @extend %centered-content;
    padding: 50px;
    min-height: 100vh;

    &_title {
      @extend %title-primary;
    }

    &_logo {
      margin: 0 auto;
    }

    &_subtitle {
      .text-active {
        color: $primary-color;
        font-weight: 600;
      }
    }

    &_carousel {

    }
  }
}
