.paragraph {
  .boolean-field {
    display: none;
  }

  picture {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.paragraph--type--center-title {
  div {
    text-align: center;
  }
}
