.paragraph--type--modal-form {
	min-height: 150px;

  .field-title {
    @include max-screen($max-mobile) {
      font-size: 16px;
    }
  }
	.image-button-container{
		position: relative;
		picture,
		img {
			width: 100%;
		}
	}
	.btn[data-toggle="modal"]{
		@include button-variant($primary-color, $primary-color);
		@include button-size(34px, 47px, 22px, 1, 45px);
		box-shadow: 0 0 49px rgba(164,76,81,.5);
		position: absolute;
		border: none;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 90px;
		width: 450px;
		outline: none !important;
		transition: box-shadow $trs-d, background-color $trs-d,height $trs-d, width $trs-d;
		&:hover{
			box-shadow: 0 0 65px rgba(164,76,81,.7);
		}
		@include max-screen($hdpi){
			@include button-size(24px, 22px, 22px, 1, 35px);
			height: 70px;
			width: 400px;
		}
		@include max-screen($tablet){
			@include button-size(18px, 12px, 18px, 1, 35px);
			height: 54px;
			width: 290px;
		}
	}
	.modal-dialog{
		max-width: 800px !important;
		margin: 40px auto 0 !important;

  .alert-info {
    display: block;
    text-align: center;
    background-colo: white;
    border-color: transparent;
    color: $primary-color;
    border-radius : 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .error {
    display: none;
  }
  .form-item--error-message {
    display: none;
  }


		.modal-content{
			background-color: $primary-color;
			color: $white;
		}
		.modal-header{
			border-bottom: 1px solid $white;

      .modal-title {
        visibility: hidden;
      }

			.close{
				border-radius: 50%;
				width: $menu-icon-size;
				height: $menu-icon-size;
				outline: none !important;
				cursor: pointer;
				border: 2px $white solid;
				color: $white;
				font-size: 34px;
				background-color: transparent;
				text-align: center;
				opacity: 1;
				text-shadow: none;
				box-shadow: none;
				transition: transform $trs-d, border-color $trs-d;
				&:hover {
					opacity: 1;
					color: $text-light-gray;
					border-color: $text-light-gray;
					transform: rotate(90deg);
				}
			}
		}
		.btn[data-dismiss="modal"] {
			border-radius: 19px;
			padding: 0.5rem 1.75rem;
		}
		.modal-body{
			padding: 15px 30px;
      @include max-screen($max-mobile) {
        .js-form-item + .js-form-item{
          margin-top: 20px;
        }
      }

      .js-form-item {
        @extend .form-group;
        margin-bottom: 30px;

        .intl-tel-input {
          margin-top: 10px;
        }

        label {
          display: block;
          font-weight: 700;
          font-size: 12px;
          color: $white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
      @include min-screen($tablet){
        .form-item-data-i-cas-date,
        .form-item-data-i-cas-time{
          width: 48%;
        }
        .form-item-data-i-cas-date{
          float: left;
          margin-right: 4%;
        }
        .form-item-data-i-cas-time{
          float: right;
          margin-top: 0 !important;
        }
      }

      input[type="text"],
      input[type="tel"],
      input[type="date"],
      input[type="time"],
      input[type="email"],
      textarea ,
      select {
        @extend .form-control;
        border-radius: 45px;
        padding: 15px 25px;
        min-height: 50px;
        margin-top: 10px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #ffffff url(../img/red-arrow.png) 0 0 no-repeat;
        background-size: 10% 25%;
        background-position: 95% 50%;
      }

      .intl-tel-input{
        display: block;

        .selected-flag {
          padding: 0 0 0 8px;
        }
      }
      .flag-container + input[type="tel"]{
        padding-left: 50px;
      }
      .country-name{
        color: #999;
      }
      .form-actions{
        text-align: center;
        margin: 30px 0;
        .button[type="submit"]{
          @include button-variant(#4f5051, #4f5051);
          @include button-size(25px, 60px, 22px, 1, 45px);
          display: inline-block;
          width: auto;
          height: auto;
        }
      }

      .js-webform-radios-fieldset {
        display: none;
      }

      .js-form-item{
        &-komu, &-misto, &-data, &-cas {
          @extend .col-lg-3;
        }

        &-im-a-ta-prizvise, &-telefon, &-elektronna-posta {
          @extend .col-lg-4;
        }
      }

      .js-form-item-pitanna-so-turbue, .webform-actions {
        @extend .col-lg-12;
      }

      form {
        display: flex;
        flex-wrap: wrap;
      }
		}

    .modal-footer {
      display: none;
    }
	}
}

.ui-timepicker-wrapper {
  width: 10.5em;
  text-align: center;
  margin: 0 5px;

  @include max-screen($max-mobile) {
    width: calc(100% - 90px);
  }
}
