.paragraph--type--simple-text-paragraph {
	@extend %center-block;
	position: relative;
	margin-bottom: 40px;
	blockquote{
		padding-bottom: calc(90px - 2.7em);
		padding-top: calc(90px - 2.7em);
		padding-right: 16%;
		position: relative;
		font-style: italic;
		font-size: 20px;
		color: $text-light-gray;
		// @include screen($tablet, $hdpi){
		// 	font-size: calc( 1vw + .5rem );
		// }
		@include max-screen(1600){
			padding-left: 7.5vw;
			padding-right: 14vw;
		}

		&:before,
		&:after{
			@extend .icon;
			position: absolute;
			font-size: 82px;
			color: #e6e7e8;
			line-height: 82px;
			@include max-screen(1600){
				font-size: calc( 4.2vw + .5rem );
			}
		}
		&:before{
			content: $icon-quotes-open;
			top: 0px;
			left: -115px;
			@include max-screen(1600){
				left: 0;
			}
		}
		&:after{
			content: $icon-quotes-close;
			bottom: 0;
			right: 8%;
		}
	}

  .field-title {
    @extend %title-hint, %title-red-line;
    color: $text-dark-hint;
  }

  .field-text-long {
    p {
      font-size: $fs-md;
      line-height: 1.6;
      margin: 2em 0px;
      // @include screen($tablet, $hdpi){
      // 	font-size: calc( 0.8vw + .5rem );
      // }
    }
  }
}
