.paragraph--type--modal-form {
	.image-button-container{
		position: relative;
	}
	.btn[data-toggle="modal"]{
		@include button-variant($primary-color, $primary-color);
		@include button-size(34px, 47px, 22px, 1, 45px);
		box-shadow: 0 0 49px rgba(164,76,81,.5);
		position: absolute;
		border: none;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 90px;
		width: 450px;
		outline: none !important;
		transition: box-shadow $trs-d, background-color $trs-d,height $trs-d, width $trs-d;
		&:hover{
			box-shadow: 0 0 65px rgba(164,76,81,.7);
		}
		@include max-screen($hdpi){
			@include button-size(24px, 22px, 22px, 1, 35px);
			height: 70px;
			width: 400px;
		}
		@include max-screen($tablet){
			@include button-size(18px, 12px, 18px, 1, 35px);
			height: 54px;
			width: 290px;
		}
	}
}
