.paragraph--type--text-near-image {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .text-image-container {
    display: flex;
    @include max-screen($tablet) {
      display: flex;
      flex-flow: column;
    }

    @include max-screen($max-tablet) {
      display: block;
    }
  }
  &:nth-child(even) {
    background: $tabs-background;
  }
  .field-title {
    @extend .col-lg-10, %title-red-line-left, %title-hint;
    padding: 20px 30px 0;
    font-size: $fs-lg;
    color: $text-dark-hint;
  }

  .field-text-near-image {
    @extend .col-lg-7;
    padding: 10px 30px;
    @include max-screen($max-tablet) {
      display: block;
      width: 100%;
      flex-direction: column;
    }

    a {
      text-decoration: underline;
    }
    p {
      @extend %hint-text;
      font-size: $fs-md;
      line-height: 1.6;
      color: $text-hint;
      letter-spacing: 0.5px;
      font-weight: 400;
      margin: 2em 0px;
    }

    h4 {
     @extend %text-bold;
      color: $primary-color;
      line-height: 2;
    }
  }

  .field-media {
    @extend .col-lg-5;
    padding: 0;
    text-align: right;

    min-height: 400px; //tdo test
    background-size: cover;
    background-position: center center;


    @include max-screen($tablet) {
      order: -1;
    }

    @include max-screen($max-tablet) {
      min-height: 250px;
      flex-direction: column;
      display: block;
      width: 100%;
    }
  }

  &.reversed {
    .text-image-container {

      @include min-screen($mdpi) {
        flex-direction: row-reverse;
      }
    }

    .field-media {
      text-align: left;
    }
  }

  &.with-mark {
    .field-redmark {
      @extend .col-lg-12, .icon, .icon-z;
      padding: 20px 30px 50px;
      transition: transform $trs-d;
      color: transparent;
      &:hover, &:focus {
        &:before {
          transform: scale(1.1);
        }
      }

      &:before {
        display: inline-block;
        color: $primary-color;
        font-size: 64px;
        cursor: pointer;
        transition: transform $trs-d;
      }
    }
  }
}
