.paragraph--type--simple-text-paragraph {
	@extend %center-block;
	position: relative;
	margin-bottom: 120px;
	blockquote{
		padding-bottom: 90px;
		padding-top: 90px;
		position: relative;
		font-style: italic;
		font-size: 20px;
		color: $text-light-gray;
		// @include screen($tablet, $hdpi){
		// 	font-size: calc( 1vw + .5rem );
		// }
	}

  .field-title {
    @extend %title-hint, %title-red-line;
    color: $text-dark-hint;
  }

  .field-text-long {
    p {
      font-size: $fs-md;
      line-height: 1.6;
      margin: 2em 0px;
      // @include screen($tablet, $hdpi){
      // 	font-size: calc( 0.8vw + .5rem );
      // }
    }
  }
}
