.path-evything-is-a-dream {
  #paragraphID-128 {
    max-width: 1440px;
    margin: 0 auto;

    .media-as-bg {
      margin: 40px 0;
    }
  }

  #paragraphID-130 {
    max-width: 1440px;
    margin: 0 auto;

    .media-as-bg {
      align-self: flex-end;
    }
  }
}
