.path-evything-is-a-dream {

  #block-clinic-page-title {
    padding: 0 30px 10px;
  }
  #paragraphID-128 {
    max-width: 1440px;
    margin: 0 auto;

    .media-as-bg {
      margin: 40px 0;
    }
  }

  #paragraphID-130 {
    max-width: 1440px;
    margin: 0 auto;

    .media-as-bg {
      align-self: flex-end;
    }
  }
}
