body {
  font-family: "roboto", opensans, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  min-width: 320px;
  min-height: 320px;
  max-width: 100%;
  overflow: auto;
}

%content-center {
  display: flex;
  align-items: center;
}

#block-clinic-page-title {
  @extend %center-block;
  position: relative;
  padding-bottom: 100px;
  h1 {
    line-height: 1.2;
    font-size: 48px; 
    color: $primary-color;
    font-weight: 700;
    @include screen($tablet, $hdpi){
      font-size: calc( 2.5vw + .625rem );
    }
  }
}

#block-clinic-breadcrumbs {
  display: none !important;
}
