body {
  font-family: roboto, opensans, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  min-width: 320px;
  min-height: 320px;
  max-width: 100%;
  overflow: auto;
}

main {
  max-width: 100% !important;
  overflow: hidden;
}

%content-center {
  display: flex;
  align-items: center;
}

#block-clinic-page-title {
  max-width: $hdpi+px;
  margin: 0 auto;
  position: relative;
  padding: 0 45px 10px;

  @include max-screen($hdpi) {
    line-height: 1;
    padding: 0 30px;
  }
  h1 {
    line-height: 1.2;
    font-size: 48px;
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    @include screen($tablet, $hdpi){
      font-size: calc( 2.5vw + .625rem );
    }

    @include max-screen($max-mobile) {
      letter-spacing: 1px;
      font-size: 26px;
    }
  }
}

#block-clinic-breadcrumbs {
  display: none !important;
}

%icon-logo {
  font-size: 90px;
  transition: all $trs-d;
  cursor: pointer;
  color: $primary-color;

  &:after {
    content: "";
    position: absolute;
    top: -60%;
    left: -160%;
    width: 150%;
    height: 150%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
  }

  &:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  &:active:after {
    opacity: 0;
  }
}

%centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#block-clinic-local-actions {
  margin: 40px;

  ul {
    li {
      list-style: none;
    }
  }
}

.path-teeth-care-center {
  .team_carousel {
    display: none;
  }

  form {
    .js-form-item-pitanna-so-turbue {
      display: none;
    }
  }
}

.hidden {
  display: none!important;
}
