// default layout
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

a,
a:before,
button,
button:before,
input[type="button"],
input[type="submit"] {
  transition: border-color 0.1s ease-in, color 0.1s ease-in, background-color 0.1s ease-in;
}

%row {
  overflow: hidden;
  max-width: $tablet + px;
  margin: 0 auto;
}

@mixin grid($columns-amount: 12, $columns-padding: 5, $column-name: "col-") {
  @for $i from 1 through $columns-amount {
    %#{$column-name}-#{$i} {
      width: 100% / $columns-amount * $i;
      float: left;
      box-sizing: border-box;
      display: block;
      padding-left: $columns-padding;
      padding-right: $columns-padding;
      min-height: 1px;
    }

    %#{$column-name}-reverse-#{$i} {
      float: right;
    }

    %#{$column-name}-offset-#{$i} {
      margin-left: 100% / $columns-amount * $i;
    }
  }
}

@include grid($column-name: "col", $columns-padding: $col-padding);

//@include max-screen($max-tablet) {
//  %block {
//    width: auto;
//    float: none; // padding-left: 0
//    // padding-right: 0
//  }
//
//  %offset {
//    margin-left: 0;
//  }
//
//  @for $i from 1 through 12 {
//    %col-md-#{$i} {
//      @extend %block;
//    }
//
//    %col-md-offset-#{$i} {
//      @extend %offset;
//    }
//  }
//}


@include max-screen($max-tablet) {
  @include grid($column-name: "col-md", $columns-padding: 15px);
}


@include max-screen($max-tablet) {
  %block {
    width: auto;
    float: none; // padding-left: 0
    // padding-right: 0
  }

  %offset {
    margin-left: 0;
  }

  @for $i from 1 through 12 {
    %col-md-#{$i} {
      @extend %block;
    }

    %col-md-offset-#{$i} {
      @extend %offset;
    }
  }
}


@include max-screen($max-mobile) {
  @include grid($column-name: "col-sm", $columns-padding: 10px);
}


.is-hidden {
  display: none !important;
}

main {
  min-height: 100%;
}

%center-block {
  max-width: $hdpi+px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $col-padding*2+px;
  padding-right: $col-padding*2+px;
  @include max-screen($mdpi) {
    padding-left: $col-padding+px;
    padding-right: $col-padding+px;
  }
}

%center-block-with-bg {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  >*{
    @extend %center-block;
  }
}

.field-text-html {
  @extend .col-lg-4,.row;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  @include max-screen($max-tablet){
    position: static;
    width: 100vw;
    margin: 0 -15px 0;
    padding: 0;
  }
  &-i {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    padding-top: 10%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    &.is-first {
      top: 100px;
    }
    @include max-screen($max-tablet) {
      position: static;
      padding: 10% 0px;
    }
    &.is-not-full-height{
      position: static;
      margin: 0 15px;
      background-color: $primary-color;
      padding: 40px 0;
      @include max-screen($max-tablet) {
        margin: 0;
      }
      &.align-self-end{
        margin-bottom: 100px;
        @include max-screen($max-tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
  .html-section + .html-section{
    @include max-screen($max-tablet) {
      margin-top: 2em;
    }
  }
  .html-row {
    padding: 0 25%;
    position: relative;
    line-height: 1.5;
    @include max-screen($hdpi) {
      padding: 0 10% 0 30%;
    }
    @include max-screen($mdpi){
      padding: 0 10% 0 20%;
    }
    .icon {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 0;
      width: 25%;
      text-align: center;
      font-size: 40px;
      @include max-screen($hdpi){
        width: 30%;
        font-size: 34px;
        margin-top: -17px;
      }
      @include max-screen($mdpi){
        width: 20%;
        font-size: 28px;
        margin-top: -14px;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      // margin-bottom: 2em;
      text-transform: uppercase;
      line-height: 1.5;
      @include max-screen($max-tablet){
        margin-bottom: .5em;
      }
    }
    p {
      line-height: 1.5;
      font-size: $fs-md;
      margin: 0;
      @include max-screen($max-tablet){
        margin: 0 0 .5em;
      }
    }
  }
  .html-row + .html-row {
    margin: 2.5em 0 0;
  }
  .html-row.is-no-icon,
  .is-no-icon .html-row {
    padding: 0 10%;
    @include max-screen($max-tablet) {
      text-align: center;
      p {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.6;
      }
    }
  }
  .vertival-text{
    font-weight: 900;
    font-size: 36px !important;
    font-family: roboto;
    position: static !important;
    margin-bottom: 12px;
    @include min-screen($max-tablet) {
      position: absolute !important;
      right: 100%;
      top: 0 !important;
      left: auto !important;
      transform-origin: 100% 100%;
      color: $primary-color;
      margin-top: -20px !important;
      margin-right: 7px;
      transform: rotate(-90deg);
    }
  }
  .quotes{
    position: relative;
    display: block;
    &:before,
    &:after {
      font-family: "svgfont";
      position: absolute;
      font-size: 24px;
      color: $white;
    }
    &:before {
      content: $icon-quotes-open;
      top: -10px;
      left: 15%;
    }
    &:after {
      content: $icon-quotes-close;
      bottom: -24px;
      right: 7%;
    }
    .is-no-icon .quotes{
      &:before {
        top: -10px;
        left: 2%;
      }
      &:after {
        bottom: -10px;
        right: 3%;
      }
    }
  }
}
