%title-hint {
  text-transform: uppercase;
  color: $text-hint;
  font-size: $fs-lg;
}

%title-primary {
  text-transform: uppercase ;
  color: $primary-color;
  font-size: $fs-title;
}

%title-dark {
  text-transform: uppercase;
  color: $text-dark;
  font-size: $fs-lg;
  font-weight: 700;
}

%title-red-line {
  &:after {
    content: ' ';
    border: 2px solid $primary-color !important;
    width: 40px;
    margin: 10px auto;
    display: block !important;
  }
}

%title-red-line-left {
  &:after {
    content: ' ';
    border: 2px solid $primary-color !important;
    width: 40px;
    display: block !important;
    margin: 10px auto 10px 0;
  }
}

%text-regular {
  color: $text-hint !important;
  font-size: $fs-md !important;
  font-weight: 400;
}

%text-light {
  color: $text-light !important;
}

%text-bold {
  font-weight: 700 !important;
}
