%title-hint {
  text-transform: uppercase;
  color: $text-hint;
  font-size: $fs-lg;
}

%title-primary {
  text-transform: uppercase ;
  color: $primary-color;
  font-size: $fs-title;
}

%title-dark {
  text-transform: uppercase;
  color: $text-dark;
  font-size: $fs-lg;
}

%title-red-line {
  &:after {
    content: ' ';
    margin-top: 10px !important;
    border: 2px solid $primary-color !important;
    display: block !important;
  }
}

%text-regular {
  color: $text-hint !important;
  font-size: $fs-md !important;
}

%text-light {
  color: $text-light !important;
}

%text-bold {
  font-weight: 700 !important;
}
