//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 1025;
$max-tablet: 1024;
$tablet: 768;
$max-mobile: 767;
$mobile: 320;

// Sizes
$col-padding: 15;

//colors

$error: #f1577b;

// text sizes
$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 30px;
$fs-title: 20px;
