//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 1025;
$max-tablet: 1024;
$tablet: 768;
$max-mobile: 767;
$mobile: 320;

// Sizes
$col-padding: 15;

//colors
$primary-color: #e30613;
$footer-bg: #4f5051;

// text colors
$text-light: #ffffff;
$text-hint: #8a8c8f;
$text-dark: #000000;
$error: #f1577b;

// text sizes
$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 30px;
$fs-title: 20px;
