//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 993;
$max-tablet: 992;
$tablet: 768;
$max-mobile: 767;
$mobile: 320;

// Sizes
$col-padding: 15;
$menu-icon-size: 46px;

//colors
$white: #ffffff;
$black: #000000;
$white-smoke: #f8f8f8;
$zircon: #f1f2f2;
$primary-color: #e30613;
$footer-bg: #4f5051;
$menu-divider-color: #959595;

// text colors
$text-dark-hint: #575756;
$text-light: #ffffff;
$text-hint: #8a8c8f;
$text-dark: #000000;
$error: #f1577b;
$text-light-gray: #636466;

$tabs-background: #fbfbfb;
// text sizes
$fs-sm: 12px;
$fs-md: 18px;
$fs-h: 24px;
$fs-lg: 30px;
$fs-title: 42px;

//transitions
$trs-d: .3s ease;
$trs-fast: .2s ease;
