<section class="mansory_menu row">
	<div class="mansory_menu-left col-lg-10">
		<div class="mansory_menu-left_top row">
			<div class="col-lg-3"><span>Вам</span></div>
			<div class="col-lg-3"><span>Вашим дітям</span></div>
			<div class="col-lg-3"><span>Вашій мамі</span></div>
			<div class="col-lg-3"><span>Кожному</span></div>
		</div>
		<div class="mansory_menu-left_bot">
			<span>Усе під наркозом. Поки ви спите</span>
		</div>
	</div>
	<div class="mansory_menu-right col-lg-2">
		<span style="height: 100%;">Чому ми</span>
	</div>
</section>
