<section class="mansory_menu row">
	<div class="mansory_menu-left col-lg-10">
		<div class="mansory_menu-left_top row">
			<div class="col-lg-3"><span>1</span></div>
			<div class="col-lg-3"><span>1</span></div>
			<div class="col-lg-3"><span>1</span></div>
			<div class="col-lg-3"><span>1</span></div>
		</div>
		<div class="mansory_menu-left_bot">
			<span>1</span>
		</div>
	</div>
	<div class="mansory_menu-right col-lg-2">
		<span style="height: 100%;">1</span>
	</div>
</section>