.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/62"]{
	@extend %center-block-with-bg;
	background-color: #fbfbfb;
	padding-top: 80px;
	padding-bottom: 80px;
	a{
		text-decoration: underline;
		display: inline-block;
		&:hover{
			text-decoration: none;
		}
	}
}
.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/63"]{
	padding-top: 80px;
	> * {
		@extend .col-md-8;
	}
}
.paragraph--type--group-paragraph[data-quickedit-entity-id="paragraph/68"]{
	@extend %center-block, .row;
	position: relative;
	padding-top: 80px;
	.paragraph--type--simple-text-paragraph{
		@extend .col-md-7;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 100px;
	}
	.paragraph--type--custom-html-block{
		@extend .col-md-4;
		margin: 0;
		padding: 0;
		@include min-screen($max-mobile) {
			position: absolute;
			top: 120px;
			bottom: 120px;
			right: 0;
		}
	}
}

.paragraph--type--text-and-html-block[data-quickedit-entity-id="paragraph/60"] {
	.field-redmark{
		@extend %red-mark-z;
		margin-top: 80px;
	}
	.field-text-html-i{
		margin-bottom: 185px;
	}
}
.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/66"] {
	.field-redmark{
		@extend %red-mark-z;
		margin-top: 65px;
	}
}
.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/67"] {
	.field-redmark{
		@extend %red-mark-z;
		margin-top: 65px;
	}
}

%red-mark-z{
	@extend .icon, .icon-z, .col-md-12;
	margin-bottom: 0;
	width: 100%;
	display: block;
	color: $primary-color;
	font-size: 0;
	&:before {
		font-size: 40px;
	}
}