.paragraph--type--custom-html-block[data-quickedit-entity-id="paragraph/43"]{
	@extend %center-block-with-bg;
	background-color: $white-smoke;
	.child_advantages{
		padding: 70px 15% 80px;
		@include max-screen($tablet){
			padding: 60px 10%;
		}
		&-header{
			text-align: center;
			color: $primary-color;
			border: 10px solid #4f5052;
			border-radius: 50%;
			height: 102px;
			width: 102px;
			line-height: 82px;
			font-size: 48px;
			font-weight: 900;
			margin: 0 auto 60px;
		}
		&-text{
			font-size: $fs-md;
			font-weight: 700;
			color: $text-light-gray;
			line-height: 1.7;
		}
	}
}

.paragraph--type--group-paragraph[data-quickedit-entity-id="paragraph/41"] {
	@extend %center-block;
	overflow: hidden;
	padding-bottom: 80px;
	.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/38"],
	.paragraph--type--simple-text-paragraph[data-quickedit-entity-id="paragraph/39"] {
		@extend .col-md-9;
		margin: 0;
		float: left;
	}
	.paragraph--type--media[data-quickedit-entity-id="paragraph/40"] {
		@extend .col-md-3;
		margin: 0;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
}