.footer {
  min-height: 400px;
  height: auto;
  background: $footer_bg;
  overflow: hidden;
  border-bottom: 20px solid $primary-color;
  padding: 80px 0 90px;
  &-i {
    @extend %center-block;
    @include max-screen($mdpi){
      padding: 0 10%;
    }
  }

  &_socials-wrapper {
    overflow: hidden;
    margin-top: 5vh;

  @include max-screen($mdpi){
      order: 1;
    }
  }
  &_logo {
    fill: $text-light;
    display: block;
    margin-bottom: 20px;
    transition: all .2s ease-in;
    width: 100%;
    max-width: 240px;
    @include max-screen($mdpi){
      float: right;
    }
    @include max-screen($max-mobile){
      margin: 0 auto 40px;
      float: none;
    }
    svg {
      width: 100%;
    }

    &:hover, &:focus {
      color: $primary-color;
    }

    .icon {
      &:before {
        font-size: 44px;
      }
    }
  }

  .icon{
    &:before {
      color: $text-light;
    }
  }

  &_socials-list {
    @include max-screen($mdpi){
      float: left;
    }
    @include max-screen($max-mobile){
      float: none;
      text-align: center;
    }
    &-item + &-item {
      margin-left: 20px;
      @include max-screen($max-mobile){
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    &-item {
      display: inline-block;
      &-link {
        text-decoration: none;
        display: inline-block;

        svg {
          width: 64px;
          height: 64px;
          &:hover, &:focus {
            .icon-background {
              fill: $text-light;
            }

            .icon-text {
              fill: $primary-color;
            }
          }
          .icon-background {
            fill-rule:evenodd;
            clip-rule:evenodd;
            fill: $primary-color;
            transition: all .2s ease-in;
          }

          .icon-text {
            fill-rule:evenodd;
            clip-rule:evenodd;
            fill:#FFFFFF;
            transition: all .2s ease-in;
          }
        }
      }
    }
  }

  &_locations {
    overflow: hidden;
    @include max-screen($mdpi){
        order: 0;
        margin-bottom: 50px;
      }

    .nav {
      border-bottom: 0 none;
      min-height: 67px;
      .nav-link{
        border: none;
      }
    }
    .tab-content{
      min-height: 165px;
      overflow: hidden;
    }

    &-wrapper {
      vertical-align: top;
      display: inline-block;
      margin-top: 20px;
      margin-right: 5%;

      @include min-screen(1280){
        max-width: 40%;
      }
      @include min-screen($max-mobile){
        margin-top: 35px;
      }

    }
    &-item {
      display: flex;
      align-items: center;
      border-bottom: 0 none;
      border-color: transparent;
      transition: all .5s ease-in;

      &:hover, &:focus, &:active {
        border: 0 none;
        border-color: transparent;
        color: $primary-color;
      }
    }

    &-title {
      @extend %title-hint;
      transition: all .2s ease-in;
      font-size: 20px;
      padding: 10px 30px 0 0;
      min-width: 88px;
      font-weight: 200;

      &:hover, &:focus, &:active {
        border: 0 none;
        border-color: transparent !important;
        color: $primary-color;
      }
      &.active {
        background-color: transparent !important;
        border-color: transparent !important;

        @extend %text-light, %title-red-line;
        font-size: 26px !important;
      }
    }

    &-subtitle {
      @extend %title-hint, %text-bold;
      font-size: $fs-md;
    }

    &-list {
      margin-top: 20px;
      &-item {
        padding: 5px;
        &-text {
          display: inline-block;
          padding-left: 10px;
          text-decoration: none;
          color: lighten($text-light, 10);
          letter-spacing: 1px;
          font-size: $fs-sm;
          font-weight: 400;
          text-decoration: none;
          &:hover, &:focus, &:active {
            text-decoration: none;
            color: white;
          }
        }

        .icon {

        }
      }
    }
  }
}

.footer_conf-info {
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;

  @media (max-width: 767px) {
    display: block;
    text-align: center;
  }
}