<footer role="contentinfo" class="footer">
  <div class="footer-i row">

    <div class="footer_socials-wrapper col-12 col-lg-4">
      <a href="#" class="footer_logo">
         @@include('../logo/logo.svg')
      </a>
      <ul class="footer_socials-list">
        <li class="footer_socials-list-item">
          <a href="https://www.youtube.com/channel/UCaj6ThQRCWRZiRJmxBBptUw?view_as=subscriber" target="_blank" rel="noopener" class="footer_socials-list-item-link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 63 63" style="enable-background:new 0 0 63 63;" xml:space="preserve">
              <path class="icon-background" d="M31.5,0.2C48.9,0.2,63,14.3,63,31.7c0,17.4-14.1,31.5-31.5,31.5C14.1,63.2,0,49.1,0,31.7
    C0,14.3,14.1,0.2,31.5,0.2z" />
              <g>
                <g>
                  <path class="icon-text" d="M49,14.2c-4.5-4.5-10.7-7.2-17.5-7.2c-6.8,0-13,2.8-17.5,7.2c-4.5,4.5-7.2,10.7-7.2,17.5
        c0,6.8,2.8,13,7.2,17.5c4.5,4.5,10.7,7.2,17.5,7.2c6.8,0,13-2.8,17.5-7.2c4.5-4.5,7.2-10.7,7.2-17.5C56.3,24.9,53.5,18.7,49,14.2z
         M47.6,47.8c-4.1,4.1-9.8,6.7-16.1,6.7c-6.3,0-12-2.6-16.1-6.7c-4.1-4.1-6.7-9.8-6.7-16.1c0-6.3,2.5-12,6.7-16.1
        c4.1-4.1,9.8-6.7,16.1-6.7c6.3,0,12,2.5,16.1,6.7c4.1,4.1,6.7,9.8,6.7,16.1C54.3,38,51.8,43.7,47.6,47.8z M42.9,23.8
        c-1-1-2-1.1-2.5-1.1c-3.5-0.3-8.8-0.3-8.8-0.3h0c0,0-5.3,0-8.8,0.3c-0.5,0.1-1.6,0.1-2.5,1.1c-0.8,0.8-1,2.6-1,2.6
        s-0.3,2.1-0.3,4.2v0.3v1.7c0,2.1,0.3,4.2,0.3,4.2s0.3,1.8,1,2.6c1,1.1,2.2,1,2.8,1.1c2,0.2,8.6,0.3,8.6,0.3s5.3,0,8.8-0.3
        c0.5-0.1,1.6-0.1,2.5-1.1c0.8-0.8,1-2.6,1-2.6s0.2-2.1,0.2-4.2V31v-0.4c0-2.1-0.2-4.2-0.2-4.2S43.6,24.6,42.9,23.8z M28.9,35.1
        v-5.7v-1.7l3.1,1.7l3.7,2L28.9,35.1z" />
                </g>
              </g>
            </svg>
          </a>
        </li>
        <li class="footer_socials-list-item">
          <a href="https://www.instagram.com/zablotskyy_academy/" target="_blank" rel="noopener" class="footer_socials-list-item-link">
            <svg x="0px" y="0px" viewBox="0 0 63 63" style="enable-background:new 0 0 63 63;" xml:space="preserve">
              <path class="icon-background" d="M31.5,0C48.9,0,63,14.1,63,31.5C63,48.9,48.9,63,31.5,63C14.1,63,0,48.9,0,31.5C0,14.1,14.1,0,31.5,0z" />
              <g>
                <g>
                  <path class="icon-text" d="M49,14c-4.5-4.5-10.7-7.2-17.5-7.2c-6.8,0-13,2.8-17.5,7.2c-4.5,4.5-7.2,10.7-7.2,17.5c0,6.8,2.8,13,7.2,17.5
        c4.5,4.5,10.7,7.2,17.5,7.2c6.8,0,13-2.8,17.5-7.2c4.5-4.5,7.2-10.7,7.2-17.5C56.3,24.7,53.5,18.5,49,14z M47.6,47.6
        c-4.1,4.1-9.8,6.7-16.1,6.7c-6.3,0-12-2.5-16.1-6.7c-4.1-4.1-6.7-9.8-6.7-16.1c0-6.3,2.6-12,6.7-16.1c4.1-4.1,9.8-6.7,16.1-6.7
        c6.3,0,12,2.6,16.1,6.7c4.1,4.1,6.7,9.8,6.7,16.1C54.3,37.8,51.8,43.5,47.6,47.6z M38.1,19.1H25c-3.2,0-5.9,2.6-5.9,5.9v13.1
        c0,3.2,2.6,5.9,5.9,5.9h13.1c3.2,0,5.9-2.6,5.9-5.9V25C43.9,21.7,41.3,19.1,38.1,19.1z M42.4,38.1c0,2.4-2,4.4-4.4,4.4H25
        c-2.4,0-4.4-2-4.4-4.4V25c0-2.4,2-4.4,4.4-4.4h13.1c2.4,0,4.4,2,4.4,4.4V38.1z M31.5,23.5c-4.4,0-8,3.6-8,8c0,4.4,3.6,8,8,8
        c4.4,0,8-3.6,8-8C39.5,27.1,35.9,23.5,31.5,23.5z M31.5,37.8c-3.5,0-6.3-2.8-6.3-6.3c0-3.5,2.8-6.3,6.3-6.3c3.5,0,6.3,2.9,6.3,6.3
        C37.8,35,35,37.8,31.5,37.8z M39.4,22.4c-0.7,0-1.3,0.6-1.3,1.3c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3
        C40.6,23,40.1,22.4,39.4,22.4z" />
                </g>
              </g>
            </svg>
          </a>
        </li>
        <li class="footer_socials-list-item">
          <a href="https://www.facebook.com/zablotskyy.international.group/" target="_blank" rel="noopener" class="footer_socials-list-item-link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 63 63" style="enable-background:new 0 0 63 63;" xml:space="preserve">
              <path class="icon-background" d="M31.5,0C48.9,0,63,14.1,63,31.5C63,48.9,48.9,63,31.5,63C14.1,63,0,48.9,0,31.5C0,14.1,14.1,0,31.5,0z" />
              <g>
                <g>
                  <path class="icon-text" d="M49,14c-4.5-4.5-10.7-7.2-17.5-7.2c-6.8,0-13,2.8-17.5,7.2c-4.5,4.5-7.2,10.7-7.2,17.5c0,6.8,2.8,13,7.2,17.5
        c4.5,4.5,10.7,7.2,17.5,7.2c6.8,0,13-2.8,17.5-7.2c4.5-4.5,7.2-10.7,7.2-17.5C56.3,24.7,53.5,18.5,49,14z M47.6,47.6
        c-4.1,4.1-9.8,6.7-16.1,6.7c-6.3,0-12-2.5-16.1-6.7c-4.1-4.1-6.7-9.8-6.7-16.1c0-6.3,2.6-12,6.7-16.1c4.1-4.1,9.8-6.7,16.1-6.7
        c6.3,0,12,2.6,16.1,6.7c4.1,4.1,6.7,9.8,6.7,16.1C54.3,37.8,51.8,43.5,47.6,47.6z M33.4,24.4c0-1,0.6-1.2,1.1-1.2
        c0.5,0,2.8,0,2.8,0v-4.3h-3.9c-4.3,0-5.3,3.2-5.3,5.3v2.3h-2.5v3.1v2h2.5c0,5.7,0,12.6,0,12.6h5.1c0,0,0-7,0-12.6h3.7l0.2-2
        l0.3-3.1h-4V24.4z" />
                </g>
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_locations col-lg-8 col-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item footer_locations-item">
          <a class="nav-link active footer_locations-title" data-toggle="tab" id="footer_kyiv" href="#contacts_kyiv" role="tab">Київ</a>
        </li>
        <li class="nav-item footer_locations-item">
          <a class="nav-link footer_locations-title" data-toggle="tab" id="footer_lviv" href="#contacts_lviv" role="tab">Львів</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="contacts_kyiv" role="tabpanel">
          <div class="footer_locations-wrapper">
            <h3 class="footer_locations-subtitle">Клініка</h3>
            <ul class="footer_locations-list">
              <li class="footer_locations-list-item">
                <i class="icon icon-map"></i>
                <span class="footer_locations-list-item-text">вул. Новогоспітальна, 5</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">+38 (067) 411-5-010</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-email"></i>
                <a href="mailTo:klinika@zablotskyy.kiev.ua" class="footer_locations-list-item-text">klinika@zablotskyy.kiev.ua</a>
              </li>
            </ul>
          </div>
          <div class="footer_locations-wrapper">
            <h3 class="footer_locations-subtitle">Офіс (ЦЕНТР ТУРБОТИ ПРО ЗУБИ)</h3>
            <ul class="footer_locations-list">
              <li class="footer_locations-list-item">
                <i class="icon icon-map"></i>
                <span class="footer_locations-list-item-text">Спортивна площа, 1А</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">+38 (067) 006-5-010</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-email"></i>
                <a href="mailTo:klinika@zablotskyy.kiev.ua" class="footer_locations-list-item-text">klinika@zablotskyy.kiev.ua</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="contacts_lviv" role="tabpanel">
          <div class="footer_locations-wrapper">
            <h3 class="footer_locations-subtitle">Клініка</h3>
            <ul class="footer_locations-list">
              <li class="footer_locations-list-item">
                <i class="icon icon-map"></i>
                <span class="footer_locations-list-item-text">вул. Коперника, 20</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">Доросла: +38 (098) 270-9-911</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">Дитяча: +38 (067) 520-9-911</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-email"></i>
                <a href="mailTo:klinika@zablotskyy.kiev.ua" class="footer_locations-list-item-text">klinika@zablotskyy.kiev.ua</a>
              </li>
            </ul>
          </div>
          <div class="footer_locations-wrapper">
            <h3 class="footer_locations-subtitle">Офіс (ЦЕНТР ТУРБОТИ ПРО ЗУБИ)</h3>
            <ul class="footer_locations-list">
              <li class="footer_locations-list-item">
                <i class="icon icon-map"></i>
                <span class="footer_locations-list-item-text">Наукова, 7D (Бізнес-парк "ОПТІМА-ПЛАЗА")</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">+38 (067) 555-9-911</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-email"></i>
                <a href="mailTo:klinika@zablotskyy.kiev.ua" class="footer_locations-list-item-text">klinika@zablotskyy.kiev.ua</a>
              </li>
            </ul>
          </div>
          <div class="footer_locations-wrapper">
            <h3 class="footer_locations-subtitle">Офіс (ЦЕНТР ТУРБОТИ ПРО ЗУБИ)</h3>
            <ul class="footer_locations-list">
              <li class="footer_locations-list-item">
                <i class="icon icon-map"></i>
                <span class="footer_locations-list-item-text">Липинського, 28 (ЖК Парус Park)</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-phone"></i>
                <span class="footer_locations-list-item-text">+38 (067) 448-8-911</span>
              </li>
              <li class="footer_locations-list-item">
                <i class="icon icon-email"></i>
                <a href="mailTo:klinika@zablotskyy.kiev.ua" class="footer_locations-list-item-text">klinika@zablotskyy.kiev.ua</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
