.phone_form {
  @extend %content-center;
  padding: 25px 30px 20%;
  @include min-screen($max-tablet) {
    padding: 200px 30px 12%;
  }
  @include min-screen($mobile) {
    padding: 0 30px 3%;
  }

  form {
    max-width: $hdpi+px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    #phone-error {
      display: none !important;
    }

    &>.intl-tel-input>.flag-container {
      display: none;
    }

    .node-13 &,
    .node-67 & {
      max-width: 1050px;
    }

    @include max-screen($mdpi) {
      flex-direction: column;
      align-items: center;
    }
  }

  select {
    border: 1px solid #BCBDBE;
    color: #747574;
    -webkit-appearance: none;
    padding-left: 15px;
    line-height: 1;
    background: #fff url(../img/select-arrow.svg) no-repeat;
    background-size: 11px;
    background-position: 93% center;

  }

  input, select,
  .intl-tel-input {
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    width: calc(26.3333333% - 40.6555px);

    @include max-screen($mdpi) {
      width: 100%;
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &[type="text"] {
      border: 1px solid #BCBDBE;
      padding-left: 25px;
    }
  }

  .intl-tel-input {
    .intl-tel-input {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }

  .button {
    padding: 0;
    font-size: 16px;
    max-width: 350px;
  }
}
